/* indexButton */
.indexButton {
  display: flex;
  flex-direction: column;
}

.indexGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열로 설정 */
  gap: 10px 0;
}

.indexGrid div {
  text-align: left;
  min-width: 124px;
  margin-right: 5px;
}

.indexGrid div:hover {
  background-color: #f0f0f0;
}

/* baseButton */
.baseLabel {
  display: flex;
  flex-direction: row;
}

.baseLabel label {
  margin-right: 20px;
}
