.currency {
  display: flex;
  justify-content: left;
  border: solid black 2px;
  border-radius: 1%;
  padding: 1%;
  font-size: 14px;
  width: 450px;
  margin: 0 5vw;
}

/* Base Button css */
.base h5 {
  text-align: left;
  margin-bottom: 10px;
}

.baseLabel {
  text-align: left;
  margin-right: 10px;
}

.baseLabel label {
  margin-right: 10px;
}

/* button css */
.dataControll {
  float: right;
}

.dataControll button {
  margin-right: 10px;
}
