@import "https://code.highcharts.com/css/stocktools/gui.css";
@import "https://code.highcharts.com/css/annotations/popup.css";

#container {
  height: 10000px;
}

@media screen and (max-width: 600px) {
  #container {
    height: 10000px;
  }
}

.head {
  display: flex;
}
