.accordionBody {
  text-align: left;
  margin: 0 5%;
}

.accordionContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom: 2px solid #ffffff;
}

.accordionBodyItem {
  display: flex;
  flex-direction: row;
  margin-left: -5%;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.index {
  width: 5.5%;
}

.price {
  width: 20%;
}

.amount {
  width: 20%;
}
